@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
  --roboto: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--roboto);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  /* border: 1px solid black; */
}

.form-section {
  padding: 1em;
  border: 2px solid black;
}

.label {
  text-transform: capitalize;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
}